.env
er_produit up
;d public.produits;
config.py
mlruns/
instance/
getsql/
app/instance/
app/README.md
'udo systemctl status postgresql'
'h origin main'
';d public.produits;'
'e -i 7137b0b'
er
