.env
er_produit up

config.py
mlruns/
instance/
getsql/
app/instance/
app/READMEE.md


';d public.produits;'
er
RGBD/sql1.py
RGBD/sql.py
RGBD/img_table
'e -i 7137b0b'
'h origin main'

app/model.py
app/embeddings.log
app/database.db
app/data_eval.py
app/models/

