[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
bs4 = "==0.0.2"
datasets = "==3.3.2"
fastapi = "==0.115.6"
flask = "==3.1.0"
flask-bcrypt = "==1.0.1"
flask-login = "==0.6.3"
flask-sqlalchemy = "==3.1.1"
flask-testing = "==0.8.1"
flask-wtf = "==1.2.2"
huggingface-hub = "==0.27.1"
langchain = "==0.3.15"
langchain-community = "==0.3.15"
langchain-core = "==0.3.31"
langchain-openai = "==0.3.2"
nltk = "==3.9.1"
openai = "==1.59.9"
pandas = "==2.2.3"
psycopg2-binary = "==2.9.10"
pydantic = "==2.10.5"
pytest = "==8.3.4"
scikit-learn = "==1.6.1"
scrapy = "==2.12.0"
selenium = "==4.29.0"
sentence-transformers = "==3.3.1"
spacy = "==3.8.4"
sqlalchemy = "==2.0.37"
tqdm = "==4.67.1"
transformers = "==4.48.0"
unidecode = "==1.3.8"
werkzeug = "==3.1.3"
wtforms = "==3.2.1"
python-dotenv = "*"
requests = "*"
ipython = "*"
pigar = "*"
pytest-mock = "*"
dash = "*"
plotly = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
